<div class="row animate__animated animate__fadeIn" *ngIf="actor">
  <div class="col-md-6">
    <img
      class="img-thumbnail"
      [src]="actor.profile_path | poster"
      [alt]="actor.name"
    />
  </div>
  <div class="col-md-6 mt-2">
  
    <h3>{{ actor.name }}</h3>

    <div class="row">
   

    <div class="row mt-3">
      <h3>Descripcion:</h3>
      <div class="col text-white text-justify-content">
        {{ actor.biography }}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col mb-2">
        <button class="btn btn-outline-info float-right" (click)="regresar()">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>

<hr>

